@import 'tailwindcss';
@theme{
    --font-primary: Oswald, Sans Serif;
    --font-paragraph: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --text-primary: #ffc139;
}
 /* @theme{
    --shadow-3xl: 0 4px 8px -4px #00000025;
} */
ul {
  @apply list-none;
}
li {
  @apply list-none;
}
a {
  @apply text-black no-underline;
}
html{
    @apply font-primary font-[62.5%];
}
body{
    @apply text-[#2b2b2b] font-[1.6rem] tracking-[1.4] overflow-x-hidden;
}
.scroll{
    @apply p-0 place-content-center text-center fixed right-4 bottom-4 w-12.5 h-12.5 opacity-0 pointer-events-none translate-y-4 transition-all duration-300 ease-in-out;
}
.scroll i{
    @apply flex place-content-center text-center text-[21.8px] ml-1;
}
.scroll.active {
    @apply opacity-100 pointer-events-auto translate-y-0;
}
.scroll.active:hover{
    @apply bg-[#2b2b2b] text-[#ffc139];
}
.btn{
    @apply inline-block py-4 px-6 bg-transparent rounded-[5rem] text-[14px] tracking-[0.2rem] ease-in-out duration-500;
}
.btn.bg--primary{
    @apply bg-[#ffc139] text-[#ffffff];
}
.btn.bg--primary:hover{
    @apply ease-in-out duration-500;
}
.btn .menu:hover{
    @apply bg-[#2b2b2b] text-[#ffc139];
}
.header{
    @apply sticky top-0 left-0 p-4 shadow-[0_4px_8px_-4px_rgba(0,0,0,0.1450980392)] bg-[#ffffff] z-999 md:top-[-6.2rem] md:left-0;
}
.header .header__wrapper{
    @apply flex items-center justify-between md:flex-col md:gap-4;
}
.header .header__wrapper .branding{
    @apply md:flex md:justify-between md:items-center md:w-full;
}
.header .header__wrapper .branding h3{
    @apply hidden md:block md:font-[800] md:text-[18.72px];
}
.header .header__wrapper .branding img{
    @apply w-[160.53px] h-[61.68px];
}
.header .header__wrapper .header__nav{
    @apply bg-[#2b2b2b] absolute -right-400 h-[702.2px] top-[5.9rem] w-full ease-in-out duration-[0.25s] md:sticky md:top-[6.2rem] md:h-fit md:bg-[#ffffff];
}
.header .header__wrapper .header__nav.open{
    @apply right-0;
}
.header .header__wrapper .header__nav h1{
    @apply hidden;
}
.header .header__wrapper .header__nav h3{
    @apply hidden;
}
.header .header__wrapper .header__nav .btn__container{
    @apply hidden;
}
.header .header__wrapper .header__nav ul{
    @apply text-center flex flex-col gap-[1.8rem] pt-[5.7rem] md:pt-4 md:flex-row md:justify-center;
}
.header .header__wrapper .header__nav ul li a{
    @apply text-[15px] text-[#ffffff] ease-in-out duration-[0.25s] md:text-[#2b2b2b];
}
.header .header__wrapper .header__nav ul li a:first-child{
    @apply md:flex md:items-center md:gap-2 md:relative md:transition-all md:duration-200;
}
.header .header__wrapper .header__nav ul li a:first-child .arrows{
    @apply md:relative md:w-4 md:h-4;
}
.header .header__wrapper .header__nav ul li a:first-child .arrows .arrow-down{
    @apply md:h-full md:translate-[unset] md:opacity-100 md:ease-in-out md:duration-[0.25s];
}
.header .header__wrapper .header__nav ul li a:first-child .arrows .arrow-up{
    @apply md:h-0 md:opacity-0 md:translate-x-0 md:ease-in-out md:duration-[0.25s];
}
.header .header__wrapper .header__nav ul li a:first-child i{
    @apply md:place-content-center;
}
.header .header__wrapper .header__nav ul li a:first-child.active{
    @apply md:text-[#ffc139];
}
.header .header__wrapper .header__nav ul li a:first-child.active i{
    @apply md:text-[#ffc139]
}
.header .header__wrapper .header__nav ul li a:first-child.active .arrow-down{
    @apply md:h-0 md:opacity-0 md:translate-x-0 md:ease-in-out md:duration-[0.25s];
}
.header .header__wrapper .header__nav ul li a:first-child.active .arrow-up{
    @apply md:h-full md:translate-[unset] md:opacity-100 md:ease-in-out md:duration-[0.25s];
}
.header .header__wrapper .header__nav ul li a i{
    @apply hidden md:block text-[#2b2b2b];
}
.header .header__wrapper .header__nav ul li a:hover{
    @apply text-[#ffc139] ease-in-out duration-[0.25s];
}
.header .header__wrapper .header__nav ul .home__menu{
    @apply hidden;
}
.header .burgir{
    @apply p-[0.40rem] bg-[#ffc139] rounded-[0.3rem] cursor-pointer md:hidden;
}
.header .burgir span{
    @apply w-6 h-1 bg-[#ffffff] block rounded-lg ease-in-out duration-500;
}
.header .burgir span:nth-child(2){
    @apply my-[0.3rem]
}
.header .burgir.open { 
    @apply bg-[#ffffff]; 
}
.header .burgir.open span{
    @apply bg-[#2b2b2b];
}
.header .burgir.open span:nth-child(1){ 
    @apply rotate-45 translate-y-2; 
}
.header .burgir.open span:nth-child(2){ 
    @apply opacity-0; 
}
.header .burgir.open span:nth-child(3){ 
    @apply -rotate-45 -translate-y-[0.6rem]; 
}
.banner{
    @apply md:pt-0;
}
.banner .container{
    @apply bg-[url("/img/banner.webp")] h-125 bg-cover bg-no-repeat bg-center p-4 flex items-center max-w-520 md:p-[3rem];
}
.banner .container .banner__wrapper img{
    @apply max-w-[280.99px] max-h-[214.21px] md:w-[233.6px];
}
.banner .container .banner__wrapper h2{
    @apply text-[50px] text-white tracking-[10px] font-[450] font-primary;
}
.banner .container .banner__wrapper p{
    @apply text-[16px] text-white font-paragraph;
}
.banner .container .banner__wrapper .banner__text{
    @apply flex flex-col w-fit max-w-120 md:translate-x-[3.3rem] md:translate-y-[-4rem]; 
}
.banner .container .banner__wrapper .banner__text a{
    @apply transition-all ease-in-out duration-500 inline-block py-2 px-6 w-46 bg-transparent rounded-[5rem] text-center font-[14px] font-paragraph border-solid border border-transparent mt-4;
}
.banner .container .banner__wrapper .banner__text a:hover{
    @apply transition-all ease-in-out duration-500 text-[#ffc139] bg-white;
}
.banner .container .banner__wrapper .banner__text .btn{
    @apply text-white bg-[#ffc139];
}
.menu__summary .container{
    @apply p-0;
}
.menu__summary__card{
    @apply flex flex-col justify-start pt-10 pb-4;
}
.menu__summary__card img{
    @apply p-[0.7rem];
}
.menu__summary__card .card__text{
    @apply flex flex-col gap-8; 
}
.menu__summary__card .card__text .price{
    @apply flex flex-row items-baseline;
}
.menu__summary__card .card__text .price h3{
    @apply font-[380] text-[18.72px] tracking-[0.2rem];
}
.menu__summary__card .card__text .price h1{
    @apply font-normal text-[40px] text-[#ffc139];
}
.menu__summary__card .card__text .price .yellow{
    @apply text-[#ffc139];
}
.menu__summary__card .card__text .food-name h2{
    @apply font-[450] text-[30px] p-0 leading-1 tracking-[0.2rem];
}
.menu__summary__card .card__text .food-name h1{
    @apply text-[55px] font-[450];
}
.menu__summary__card .card__text p{
    @apply font-paragraph tracking-[0.2rem] text-[#00000067] text-[14px];
}
.menu__summary__card .card__text a{
    @apply inline-block place-content-center text-[30px] text-center p-0 w-[3.2rem] h-[3.2rem] bg-[#ffc139] text-[#ffffff] rounded-[5rem] ease-in-out duration-500 border border-transparent ;
}
.menu__summary__card .card__text a:hover{
    @apply scale-[1.05] rotate-360 transition-all duration-1000 ease-[cubic-bezier(0.165,0.84,0.44,1)] bg-[#2b2b2b] text-[#ffc139];
}
.promos__wrapper{
    @apply grid grid-cols-[1fr] gap-2;
}
.promos .container{
    @apply py-4 px-0 max-w-520 w-full m-auto;
}
.promos__wrapper .offer{
    @apply bg-cover text-center place-content-center;
}
.promos__wrapper .offer .text{
    @apply flex flex-col items-center;
}
.promos__wrapper .offer .text h2{
    @apply text-[38px] tracking-[0.3rem];
}
.promos__wrapper .offer .text h1{
    @apply text-[63px] leading-11 mb-8;
}
.promos__wrapper .offer .text p{
    @apply text-[#00000067] text-[16px] tracking-[0.1rem];
}
.promos__wrapper .offer:first-child{
    @apply bg-[url("../img/offers1.png")] h-91.5;
}
.promos__wrapper .offer:nth-child(2){
    @apply bg-[url("../img/offers2.png")] h-180;
}
.promos__wrapper .offer:last-child{
    @apply bg-[url("../img/offers3.png")] h-180;
}
.promos__wrapper .offer:nth-child(2) .text{
    @apply relative top-[13vh];
}
.promos__wrapper .offer:nth-child(2) .text .inner__text h2{
    @apply leading-1 mb-6;
}
.promos__wrapper .offer:last-child .text{
    @apply relative bottom-[13vh];
}
.promos__wrapper .offer:last-child .text h2{
    @apply text-[30px] leading-1;
}
.menu__tabs ul{
    @apply flex gap-4 justify-center p-8;
}
.menu__tabs ul .tab__nav__link{
    @apply flex flex-col items-center justify-center gap-4 tracking-[0.2rem] text-[25px] text-center min-w-28 p-4 border-b-[3px] border-[#00000008];
}
.menu__tabs ul .tab__nav__link.active{
    @apply border-b-[3px] border-b-[#ffc139] ease-in-out duration-[0.25s];
}
.menu__tabs ul .tab__nav__link.active span{
    @apply text-[#ffc139] ease-in-out duration-[0.25s];
}
.menu__tabs ul .tab__nav__link img{
    @apply mx-auto my-0 max-w-[49.9px];
}
.menu__tabs ul .tab__nav__link:hover{
    @apply cursor-pointer;
}
.menu__tabs ul .tab__nav__link:hover span{
    @apply text-[#ffc139] ease-in-out duration-[0.25s];
}
.menu__content{
    @apply block relative;
    perspective: 1200px;
}
.menu__content__item{
    @apply bg-[#ffffff] gap-8 flex flex-col absolute w-0 scale-[0];
}
.menu__content__item .menu__item{
    @apply bg-[#ffffff] pt-[0.8rem] pr-12 pb-0 pl-12 border rounded-sm border-[#00000025] h-112.5 flex flex-col ease-in-out duration-1000 scale-95 opacity-0 transition-all;
    transform: rotateY(90deg);
    transform-style: preserve-3d;
}
.menu__content__item .menu__item:hover{
    @apply ease-in-out duration-500;
}
.menu__content__item .menu__item .img-food{
    @apply text-center w-full h-full flex justify-center items-center; 
}
.menu__content__item .menu__item .img-food img{
    @apply max-w-50;
}
.menu__content__item .menu__item .name-food{
    @apply inline-block p-0 ease-in-out duration-500;
}
.menu__content__item .menu__item .name-food h4{
    @apply text-[20px] font-normal tracking-[0.1rem];
}
.menu__content__item .menu__item .name-food:hover{
    @apply text-[#ffc139] ease-in-out duration-500;
}
.menu__content__item .menu__item .menu__item__text{
    @apply flex flex-col gap-2 relative bottom-12;
}
.menu__content__item .menu__item .menu__item__text h3{
    @apply text-[28px] font-normal text-[#ffc139] tracking-[0.001rem];
}
.menu__content__item .menu__item .menu__item__text p{
    @apply text-[13px] font-paragraph text-[#00000067] block;
}
.menu__content__item .menu__item .menu__item__text a.btn{
    @apply w-fit text-[9.4px] font-paragraph px-8 py-[0.51rem]  place-content-center flex gap-1 text-center;
}
.menu__content__item .menu__item .menu__item__text a.btn i{
    @apply inline-block place-content-center;
}
.menu__content__item .menu__item .menu__item__text a.btn:hover{
    @apply bg-[#2b2b2b] text-[#ffc139];
}
.menu__content__item.active{
    @apply flex flex-col px-12 py-4 w-full static overflow-hidden scale-[1];
}
.menu__content__item.active .menu__item{
    @apply flex scale-100 opacity-100;
    transform: rotateY(0deg);
}
.order{
    @apply py-12 px-0;
}
.order .container{
    @apply p-8;
}
.order .order__wrapper{
    @apply flex flex-col gap-8 justify-center;
}
.order .order__wrapper .curly-line{
    @apply hidden;
}
.order .order__step__card{
    @apply bg-[#F7F6F9] flex flex-col place-content-center text-center;
}
.order .order__step__card:last-of-type .choose__img{
    @apply p-0;
}
.order .order__step__card img{
    @apply block justify-center m-0 pt-16 w-full;
}
.order .order__step__card .info{
    @apply p-8 flex flex-col gap-4;
}
.order .order__step__card .info p{
    @apply font-paragraph tracking-[0.2rem] text-[#00000067];
}
.order .order__step__card .info .title__tab{
    @apply flex flex-col gap-4;
}
.order .order__step__card .info .title__tab img{
    @apply my-0 mx-auto object-contain max-w-[71.16px] p-0;
}
.order .order__step__card .info .title__tab h2{
    @apply text-[32px] font-normal tracking-[0.3rem] leading-1 place-content-center;
}